.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    ;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px 40px;
}

.cart-container {
    background-color: rgba(255, 153, 0, 0.3);
}

.pagination button {
    margin-right: 10px;
}

.pagination .selected {
    background-color: #FFE0B2;
    color: black;
    border: none;
    border: 1px solid black;
    border-radius: 2px;
}

@media screen and (max-width: 1100px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}